
@{

    ViewBag.Title = "Customer";
}

<h2>Customer</h2>
<div class="row">
    <div class="col-md-12">
        <button class="btn btn-primary pull-right" id="btnNewCustomer">Add Customer</button>
        <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th>S/N</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Country</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int counter = 1;
                }
                @foreach (var item in ViewBag.customers)
                {
                    <tr>
                        <td>@counter</td>
                        <td>@item.CustomerName</td>
                        <td>@item.CustomerEmail</td>
                        <td>@item.CustomerCountry</td>
                        <td><button class="btn btn-xs btn-primary" data-id="@item.CustomerId" id="btnview">view</button>|<button class="btn btn-xs btn-primary" data-id="@item.CustomerId" id="btnedit">edit</button>|<button class="btn btn-xs btn-danger" data-id="@item.CustomerId" id="btndel">delete</button></td>
                    </tr>
                    counter++;
                }
            </tbody>
        </table>
    </div>
</div>

<div id="customerModal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close modalClose" aria-hidden="true">×</button>
                <h2 class="modal-title text-red">Customer</h2>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-md-2">ID</label>
                                <div class="col-md-2">
                                    <input name="CustomerId" id="CustomerId" type="text" value="0" class="form-control" disabled />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Name</label>
                                <div class="col-md-3">
                                    <input name="CustomerName" id="CustomerName" type="text"  class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Email</label>
                                <div class="col-md-3">
                                    <input name="CustomerEmail" id="CustomerEmail" type="text"  class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Phone Number</label>
                                <div class="col-md-3">
                                    <input name="Phone_Number" id="Phone_Number" type="text"  class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Country</label>
                                <div class="col-md-3">
                                    <input name="CustomerCountry" id="CustomerCountry" type="text"  class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Address</label>
                                <div class="col-md-4">
                                    <input name="CustomerAddress" id="CustomerAddress" type="text"  class="form-control"/>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer ">
                <div class="row">
                    <div class="col-md-12">
                        <div class="btn-group pull-right">
                            <button class="btn btn-default btn-primary" id="btnSave">
                                Save
                            </button>
                            <button class="btn btn-default modalClose btn-danger">
                                <i class="fa fa-times"></i>
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- / .modal-content -->
    </div> <!-- / .modal-dialog -->
</div> <!-- / .modal -->
@section Scripts{
    <script>
        $(function () {
            $("#btnNewCustomer").on("click", function (e) {
                e.preventDefault();
                $("#customerModal").modal("show");
            });
            $(".modalClose").on("click", function (e) {
                e.preventDefault();
                $("#customerModal").modal("hide");
                resetModal();
            });
            $("#btnSave").on("click", function (e) {
                e.preventDefault();
                newCustomer();
            });
            $("#btnview").on("click", function (e) {
                e.preventDefault();
                $("#btnSave").prop("disabled", true);
                let id = $(this).attr("data-id");
                getCustomer(id);
                
            });
            $("#btnedit").on("click", function (e) {
                e.preventDefault();
                let id=  $(this).attr("data-id");
                getCustomer(id);
            });
            $("#btndel").on("click", function (e) {
                e.preventDefault();
                let id = $(this).attr("data-id");
                deleteCustomer(id);
            });
            
        });
        function resetModal()
        {
            $("#CustomerId").val("0");
            $("#CustomerName").val(null);
            $("#CustomerEmail").val(null);
            $("#Phone_Number").val("0");
            $("#CustomerCountry").val("0");
            $("#CustomerAddress").val("0");
            $("#btnSave").prop("disabled", false);
        }
        function getCustomerData() {
            data = {
                CustomerId: $("#CustomerId").val(),
                CustomerName: $("#CustomerName").val(),
                CustomerEmail: $("#CustomerEmail").val(),
                Phone_Number: $("#Phone_Number").val(),
                CustomerCountry: $("#CustomerCountry").val(),
                CustomerAddress: $("#CustomerAddress").val(),
            };
            return data;
        }
        function newCustomer()
        {
            $.ajax({
                type: 'post',
                url: '@Url.Action("AddCustomer", "Customer")',
                data: getCustomerData(),
                success: function (data) {
                    if (data != "0") {
                        alert(data);
                    } else {
                        window.location.reload();
                    }
                },
                error: function () {
                    alert("oops! Something went wrong");
                }

            });
        }
         function getCustomer(id)
          {
               $.ajax({
                   type: 'post',
                   url: '@Url.Action("GetCustomer", "Customer")',
                   data: { id: id},
                  success: function (data) {
                      $("#CustomerId").val(data.CustomerId);
                      $("#CustomerName").val(data.CustomerName);
                      $("#CustomerEmail").val(data.CustomerEmail);
                      $("#Phone_Number").val(data.Phone_Number);
                      $("#CustomerCountry").val(data.CustomerCountry);
                      $("#CustomerAddress").val(data.CustomerAddress);
                      $("#customerModal").modal("show");
                  },
                  error: function () {
                      alert("oops! Something went wrong");
                  }
         
              });
        }
         function deleteCustomer(id)
          {
               $.ajax({
                   type: 'post',
                   url: '@Url.Action("DeleteCustomer", "Customer")',
                   data: { id: id},
                  success: function (data) {
                      if (data != "0") {
                          alert(data);
                      } else {
                          window.location.reload();
                      }
                  },
                  error: function () {
                      alert("oops! Something went wrong");
                  }
         
              });
          }
    </script>
}
